PORT=5000

SMTP_HOST=smtp.gmail.com
SMTP_PORT=5000
SMTP_USER=rockyvishnu2005@gmail.com
SMTP_PASS=hnxf mjon dhxr nrma
SMTP_FROM=rockyvishnu2005@gmail.com

# Where the notification email should be delivered
RECEIVER_EMAIL=vishnu18062005@gmail.com
